
#course_hero .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#course_hero .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 300px;
}

#course_hero .swiper-slide img {
  display: block;
  width: 100%;
}
